name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - 1.x
      - 2.x
  pull_request:
permissions:
  contents: read
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true
jobs:
  code-quality:
    name: Code Quality
    uses: craftcms/.github/.github/workflows/code-quality.yml@v3
    with:
      node_version: '18'
      php_version: '8.2'
      jobs: '["ecs", "phpstan", "prettier"]'
  bump-tag-version:
    needs: code-quality
    name: Bump and Tag Version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: jefflinse/pr-semver-bump@v1.6.0
        name: Bump and Tag Version
        with:
          mode: bump
          repo-token: ${{ secrets.PR_SEMVER_BUMP_TOKEN }}
          base-branch: true
